<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/bootstrap-material-design.min.css" />
<link rel="stylesheet" href="css/all.css" />
<link rel="stylesheet" href="css/sweetalert2.min.css" />
<script src="js/sweetalert2.min.js"></script>
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css" />
<link rel="stylesheet" href="css/admin.css" />


<main class="full-box main-container">

  <section class="full-box nav-lateral">
    <div class="full-box nav-lateral-bg show-nav-lateral"></div>
    <div class="full-box nav-lateral-content">
      <figure class="full-box nav-lateral-avatar">
        <i class="far fa-times-circle show-nav-lateral"></i>
        <img src="./assets/avatar/Avatar.png" class="img-fluid" alt="Avatar" />
        <figcaption class="roboto-medium text-center">
          Nombre de Administrator
          <br /><small class="roboto-condensed-light">Administrador</small>
        </figcaption>
      </figure>
      <div class="full-box nav-lateral-bar"></div>
      <nav class="full-box nav-lateral-menu">
        <ul>
          <li>
            <a href="home.html"><i class="fab fa-dashcube fa-fw"></i>
              &nbsp; Dashboard</a>
          </li>

          <li>
            <a href="#" class="nav-btn-submenu"><i
                class="fas fa-user-tie fa-fw"
              ></i>
              &nbsp; Empleados
              <i class="fas fa-chevron-down"></i></a>
            <ul>
              <li><a href="admin.html"><i class="fas fa-user-plus fa-fw"></i>
                  &nbsp; Nuevo Empleado</a></li>
              <li><a href="listadmin.html"><i class="fas fa-users fa-fw"></i>
                  &nbsp; Lista de Empleados</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <!-- Page content -->
  <section class="full-box page-content">
    <nav class="full-box navbar-info">
      <a href="#" class="float-left show-nav-lateral"><i
          class="fas fa-exchange-alt"
        ></i></a>
      <a href="#" data-toggle="modal" data-target="#ModalHelp"><i
          class="far fa-question-circle"
        ></i></a>
      <a href="#"><i class="fas fa-user-cog"></i></a>
      <a href="#" class="btn-exit-system"><i class="fas fa-power-off"></i></a>
    </nav>

    <!-- Page header -->
    <div class="full-box page-header">
      <h3 class="text-left">
        <i class="fas fa-user-plus fa-fw"></i>
        &nbsp; Nuevo Empleado
      </h3>
    </div>
    <div class="container-fluid">
      <ul class="full-box list-unstyled page-nav-tabs">
        <li>
          <a class="active" href="admin.html"><i
              class="fas fa-user-plus fa-fw"
            ></i>
            &nbsp; Empleado Nuevo</a>
        </li>
        <li>
          <a href="listadmin.html"><i class="fas fa-users fa-fw"></i>
            &nbsp; Lista de Empleados</a>
        </li>
      </ul>
    </div>

    <!-- Content -->
    <div class="container-fluid">
      <form action="" id="form-register" class="form-neon" autocomplete="off">
        <fieldset>
          <legend><i class="far fa-address-card"></i>
            &nbsp; Datos Personales</legend>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label
                    for="nombre"
                    class="bmd-label-floating"
                  >Nombre(s)</label>
                  <input
                    type="text"
                    pattern="[a-zA-z ]{1,25}"
                    class="form-control"
                    name="nombre"
                    maxlength="20"
                  />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="app" class="bmd-label-floating">Apellido
                    Paterno</label>
                  <input
                    type="text"
                    pattern="[a-zA-z ]{1,25}"
                    class="form-control"
                    name="app"
                    maxlength="25"
                  />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="apm" class="bmd-label-floating">Apellido
                    Materno</label>
                  <input
                    type="text"
                    pattern="[a-zA-z ]{1,25}"
                    class="form-control"
                    name="apm"
                    maxlength="25"
                  />
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label
                    for="tel"
                    class="bmd-label-floating"
                  >Teléfono</label>
                  <input
                    type="text"
                    pattern="{1,25}"
                    class="form-control"
                    name="tel"
                    maxlength="10"
                  />
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label
                    for="calle"
                    class="bmd-label-floating"
                  >Calle</label>
                  <input
                    type="text"
                    pattern="[a-zA-z ]{1,25}"
                    class="form-control"
                    name="calle"
                    maxlength="25"
                  />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="inte" class="bmd-label-floating">Número
                    Interior</label>
                  <input
                    type="text"
                    pattern="[a-zA-z ]{1,25}"
                    class="form-control"
                    name="inte"
                    maxlength="25"
                  />
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="exte" class="bmd-label-floating">Número
                    Exterior</label>
                  <input
                    type="text"
                    pattern="[a-zA-z ]{1,25}"
                    class="form-control"
                    name="exte"
                    maxlength="25"
                  />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label
                    for="colonia"
                    class="bmd-label-floating"
                  >Colonia</label>
                  <input
                    type="text"
                    pattern="[a-zA-z ]{1,25}"
                    class="form-control"
                    name="colonia"
                    maxlength="25"
                  />
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label
                    for="municipio"
                    class="bmd-label-floating"
                  >Municipio</label>
                  <input
                    type="text"
                    pattern="[a-zA-z ]{1,25}"
                    class="form-control"
                    name="municipio"
                    maxlength="25"
                  />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label
                    for="estado"
                    class="bmd-label-floating"
                  >Estado</label>
                  <input
                    type="text"
                    pattern="[a-zA-z ]{1,25}"
                    class="form-control"
                    name="estado"
                    maxlength="25"
                  />
                </div>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="cp" class="bmd-label-floating">Código
                    Postal</label>
                  <input
                    type="text"
                    pattern="{1,25}"
                    class="form-control"
                    name="cp"
                    maxlength="10"
                  />
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label
                    for="rfc"
                    class="bmd-label-floating"
                  >RFC</label>
                  <input
                    type="text"
                    pattern="[a-zA-z ]{1,25}"
                    class="form-control"
                    name="rfc"
                    maxlength="25"
                  />
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label
                    for="curp"
                    class="bmd-label-floating"
                  >CURP</label>
                  <input
                    type="text"
                    pattern="[a-zA-z ]{1,25}"
                    class="form-control"
                    name="curp"
                    maxlength="25"
                  />
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="cedulaProfesional" class="bmd-label-floating">Cedula
                    Profesional</label>
                  <input
                    type="text"
                    pattern="[a-zA-z ]{1,25}"
                    class="form-control"
                    name="cedulaProfesional"
                    maxlength="25"
                  />
                </div>
              </div>

            </div>
          </div>
        </fieldset>
        <br /><br /><br />
        <fieldset>
          <legend><i class="fas fa-user-lock"></i>
            &nbsp; Datos de Acceso</legend>
          <div class="container-fluid">
            <div class="row">

              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="Email" class="bmd-label-floating">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    nmae="email"
                    maxlength="50"
                  />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label
                    for="contraseña"
                    class="bmd-label-floating"
                  >Contraseña</label>
                  <input
                    type="password"
                    class="form-control"
                    name="contraseña"
                    maxlength="50"
                  />
                </div>
              </div>
              <div class="col-12">
                <div
                  style="padding: 20px 0 5px 0; color: #004f45; "
                >Especialidad</div>
                <div class="form-group">
                  <div class="radio">
                    <label>
                      <input
                        type="radio"
                        name="AdminGender"
                        value="Male"
                        checked
                      />
                      <i class="fas fa-male fa-fw"></i>
                      &nbsp; Pediatria
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input
                        type="radio"
                        name="AdminGender"
                        name="optionsRadios2"
                        value="Female"
                      />
                      <i class="fas fa-male fa-fw"></i>
                      &nbsp; Alergologia
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <p class="text-center" style="margin-top: 40px;">
          <button type="reset" class="btn btn-info"><i
              class="fas fa-paint-roller"
            ></i>
            &nbsp; Limpiar</button>
          &nbsp; &nbsp;
          <button type="submit" id="save" class="btn btn-success"><i
              class="far fa-save"
            ></i>
            &nbsp; Guardar</button>
        </p>
      </form>
    </div>

  </section>

</main>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/bootstrap-material-design.min.js"></script>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
<script src="js/main.js"></script>
<script type="text/javascript" src="js/comunicacion/admin.js"></script>