@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}body{
    
    background: linear-gradient(90deg,#3383FF ,#194D99 );



}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #5C5696;
}
