
    <div class="container">
  <div class="row wrapper-row">
    <div class="col-md-7">
      <img class="fb-image" src="images/logo.png" height="350" width="600">
      <p class="content"></p>
    </div>
    <div class="col-md-5">
    <div class="wrapper">
      <div class="title-text">
        <div class="title login">Iniciar Sesi칩n</div>
      </div>
      <div class="form-container">
        <div class="form-inner">
          <form id="login">
            <div class="field">
              <input name="email" type="text" placeholder="Correo Electr칩nico" required>
            </div>
            <div class="field">
              <input name="contra" type="password" placeholder="Contrase침a" required>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input id="blogin"type="submit" value="Iniciar Sesi칩n">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
